<article class="flex gap-10">
    <div class="flex flex-col gap-4 text-lg">
        <p>
            Soy estudiante de Ingeniería Multimedia en la UNAD, actualmente
            cursando el séptimo semestre. Mi formación combina la programación,
            el diseño gráfico y la creación de contenido audiovisual, lo que me
            permite abordar proyectos digitales desde una perspectiva integral.
        </p>
        <p>
            Mi perfil se complementa con habilidades avanzadas en edición de
            video, diseño editorial y herramientas como Adobe InDesign, además
            de certificaciones en Desarrollo Front-End.
        </p>
    </div>
    <div class="w-full">
        <img
            src="/src/assets/profile-photo.jpg"
            alt="Foto Damiro Gómez"
            class="rounded-2xl"
        />
    </div>
</article>
