---
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer>
    <div class="text-center text-white/30 py-12">
        <p>© 2025 Damiro Gómez</p>
    </div>
</SectionContainer>
