<header>
    <div class="flex justify-between items-center py-4 max-w-[1000px] mx-auto">
        <a href="/" class="text-2xl font-bold">Damiro Gómez</a>

        <nav>
            <ul class="flex gap-x-4">
                <a href="/#experiencia">Experiencia</a>
                <a href="/#sobre-mi">Sobre Mí</a>
            </ul>
        </nav>
    </div>
</header>

<style>
    ul > a {
        padding: 0.25rem 0.5rem;
        font-weight: 500;
        transition: all ease-in-out 0.2s;
    }

    ul > a:hover {
        color: blueviolet;
    }
</style>
