---
const { link } = Astro.props;
---

<a
    href={link}
    target="_blank"
    rel="noopener noreferrer"
    class="inline-flex items-center justify-center px-3 py-1 text-base
    text-green-800 bg-green-100 rounded-full cursor-pointer hover:bg-white hover:text-black transition dark:bg-gray-800
    dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"
>
    <slot />
</a>
